section.img{
    width: 100%;
    min-height: 540px;
    background: url(https://wallpaperaccess.com/full/4097349.jpg) no-repeat center;
    background-size: cover;
    padding: 5em 3em;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}
section.img::after{
    content: '';
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #1f2128ed 30%, transparent 80%);
    position: absolute;
    bottom: 0px;
    left: 0px;
    z-index: -1;
}
section.img >span{
    background-color: var(--orange-color);
    padding: .3em 1em;
    font-size: 11px;
    color: white;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}
section.img >span i{
    margin-right: .3rem;
}
.img h1{
    color: white;
    font-size: 30px;
    max-width: 500px;
    font-weight: 500;
    margin-block: 1rem;
}
@media (max-width: 700px){
    .img h1{
        font-size: 20px;
    }
}
section.img .small-info span{
    color: var(--main-text-color);
    font-size: 13px;
    margin-left: .3rem;
}
section.img .small-info img{
    width: 15px;
    height: 15px;
}
section.img button{
    padding: .9em 2.2em;
    background-color: var(--active-li-color);
    color: var(--main-text-color);
    margin-top: 2rem;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
section.img .line{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 5px;
    width: 100%;
    background-color: var(--border-color);
    z-index: 8;
}
section.img .line::after{
    content: '';
    height: 100%;
    width: 25%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: var(--active-li-color);
}
/* start live */
.live h3{
    color: var(--main-text-color);
    margin-block: 3rem;
    padding-inline: 3em;
}
.continer{
    width: 90%;
    margin-inline: auto;
}
.live .continer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    width: 90%;
    margin-inline: auto;
    padding-inline: 1em;
}
.live .card {
    background-color: var(--section-color);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;
    color: white;
}
.live .card .cont .info{
    display: flex;
    gap: 10px;
    font-size: 11px;
    text-transform: capitalize;
    align-items: center;
    padding: 1em;
}
.live .card .cont .info .text :last-child{
    opacity: .6;
    font-weight: 200;
    line-height: 1.6;
}
.live .card .cont>p{
    padding: 1em;
    padding-bottom: 0px;
}
.live .card >img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.live .info >img{
    width: 25px;
    height: 25px;
}
.live .card .cont .footer{
    display: flex;
    font-size: 11px;
    font-weight: 200;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--border-color);
    padding: 2em;
}
.live .card .cont .footer>span{
    background-color: var(--orange-color);
    padding: .3em 1em;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
.live .card .cont .footer span.dot{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: var(--blue-color);
    display: inline-block;
}
.live .card .cont .footer div .dot+span{
    font-size: 10px;
    opacity: .5;
    margin-left: 5px;
}
/* end live */

/* start from chanelle */
.from-chanel{
    padding-inline: 1em;
    color: var(--main-text-color);
    margin-top: 3rem;
}
.from-chanel .continer {
    background-color: var(--section-color);
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    padding: 1.5em 1em;
}
.from-chanel .continer p{
    margin-bottom: 2rem;
    padding-inline: 1.8em;
}
@media (max-width: 992px){
    .from-chanel .continer p{
        text-align: center;
    }
}
.from-chanel .continer .cont{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(97px, 1fr));
    gap: 15px;
}
.from-chanel .cont .img{
    text-align: center;
}
.from-chanel .cont .img .text {
    font-size: 12px;
}
.from-chanel .cont .img .text span{
    margin-inline: auto;
}
.from-chanel .cont .img .text span:first-child{
    max-width: 100px;
    display: block;
    margin-top: .4rem;
}
.from-chanel .cont .img .text span:last-child{
    opacity: .4;
    font-size: 10px;
}
.from-chanel .cont .img .text span.activ{
    opacity: 1;
    font-size: 12px;
}
.from-chanel  .img div.activ{
    background-color: var(--blue-color);
    display: grid;
    place-items: center;
    font-size: 20px;
}
.from-chanel  .img div:not(.text){
    border: 2px solid  var(--blue-color);
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    margin-inline: auto;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
}
.from-chanel  .img div:not(.text)::after{
    content: '';
    width: 10px;
    height: 10px;
    position: absolute;
    top: 0px;
    right: 2px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: grid;
    place-items: center;
}
.from-chanel  div.img .dot::after{
    border: 2px solid white;
}
.from-chanel  div.img .green-dot::after{
    background-color: green;
}
.from-chanel  div.img .blue-dot::after{
    background-color: var(--blue-color);
}
.from-chanel  div.img .play::after,
.from-chanel  div.img .wifi::after{
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    content: "\f04b";
    background-color: var(--blue-color);
    color: white;
    font-size: 7px;
    width: 16px;
    height: 16px;
    right: 0px;
}
.from-chanel  div.img .wifi::after{
    content: "\f1eb";
    background-color: var(--orange-color);
}
.from-chanel img{
    width: 40px;
    height: 40px;
}
/* end from chanelle */
